@font-face {
  font-family: 'SFProDisplay';
  src: url('../../fonts/sf-pro-display/SFPRODISPLAYBLACKITALIC.OTF')
    format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../../fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../../fonts/sf-pro-display/SFPRODISPLAYHEAVYITALIC.OTF')
    format('opentype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../../fonts/sf-pro-display/SFPRODISPLAYLIGHTITALIC.OTF')
    format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../../fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF')
    format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../../fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF')
    format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../../fonts/sf-pro-display/SFPRODISPLAYSEMIBOLDITALIC.OTF')
    format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../../fonts/sf-pro-display/SFPRODISPLAYTHINITALIC.OTF')
    format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'SFProDisplay';
  src: url('../../fonts/sf-pro-display/SFPRODISPLAYULTRALIGHTITALIC.OTF')
    format('opentype');
  font-weight: 200;
  font-style: italic;
}

body {
  font-family: 'SFProDisplay', 'Helvetica Neue', 'Arial', 'sans-serif';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button#increaseFontSize, button#decreaseFontSize {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 1em;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button#increaseFontSize:hover, button#decreaseFontSize:hover {
  background: #0056b3;
}